#
#  Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#  SPDX-License-Identifier: Apache-2.0
#

name: Unit Tests & Code Analysis
on:
  pull_request:
    branches:
      - develop
      - "feat-*"
jobs:
  static-code-analysis-and-unit-test:
    name: Unit Tests & Code Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Cache Node.js dependencies
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-
            ${{ runner.os }}-
      - name: Install Node.js dependencies
        run: |
          npm install -g pnpm
          pnpm recursive install --unsafe-perm --stream
      - name: Run unit tests
        run: |
          ./scripts/run-unit-tests.sh --stream
      # - name: Jest Coverage Report checkoutv1
      #   uses: actions/checkout@v1
      # - name: Jest Coverage Report
      #   uses: artiomtr/jest-coverage-report-action@v1.2
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     test_script: ./scripts/run-unit-tests.sh --stream
      #     threshold: 80 # optional parameter
      # - name: Coveralls
      #   uses: coverallsapp/github-action@master
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Jest Annotations & Coverage
        uses: mattallty/jest-github-action@v1.0.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # The test command to run
          # test-command: ./scripts/run-unit-tests.sh --stream
          # Comment PRs with code coverage
          changes-only: true
